---
layout: default
title: SPICE Engineering
overview: true
---

<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">Welcome to SPICE Engineering!</p>
    </div>
  </div>
</section>

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit whole">
        <article>
        <p>
		This is the website for the SPICE Engineering camp, a summer science camp conducted by the Oregon Center for Optics on the campus of the University of Oregon. 
    </p>
    <p>
    During the camp, participants design and build pinball tables using basic electronic sensors and circuits! 
    </p>
    <p>
    Learn more about <a href="http://spicescience.uoregon.edu/">SPICE</a>.
		</p>
		<p>
		 Join in on the fun by checking out our tutorials in the Learn tab! For more information on where to download the Arduino libraries and code used in the tutorials, suggestions on sourcing electronic components, and ideas on other ways to use the material, check out the Teach tab!
		</p>
<!--           {% include section_nav.html %}
 -->        </article>
      </div>

      <!-- {% include docs_contents.html %} -->

      <div class="clear"></div>

    </div>
  </section>