---
layout: default
title: SPICE Engineering
overview: true
---

<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">Welcome to SPICE Engineering!</p>
    </div>
  </div>
</section>

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
		This is the website for the SPICE Engineering camp, a summer science camp conducted by the Oregon Center for Optics on the campus of the University of Oregon. [Visit the SPICE mothership](http://spicescience.uoregon.edu/) to get in on the fun!

		During the camp, participants design and build pinball tables using basic electronic sensors and circuits. Check out our learning materials under the **Learn** tab, and for more details and information on other ways to use the material, check out the **Teach** tab. 

		Until next time, always remember to be nice to robots. ♥
<!--           {% include section_nav.html %}
 -->        </article>
      </div>

      <!-- {% include docs_contents.html %} -->

      <div class="clear"></div>

    </div>
  </section>