---
layout: default
title: SPICE Engineering
overview: true
---

<section class="intro">
  <div class="grid">
    <div class="unit whole center-on-mobiles">
      <p class="first">Welcome to SPICE Engineering!</p>
    </div>
  </div>
</section>

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
		This is the website for the SPICE Engineering camp, a summer science camp for middle-school kids, being conducted by the Oregon Center for Optics and partners on the campus of the University of Oregon. 

		During the camp, participants design and build pinball tables using basic electronic sensors and circuits. Yes, we know, that's awesome! Check out the [SPICE Pinball Arduino Library](https://github.com/dileepvr/spice-pinball), or [visit the SPICE mothership](http://oco.uoregon.edu/spice) to get in on the fun.

		Until next time, always remember to be nice to robots. ♥
<!--           {% include section_nav.html %}
 -->        </article>
      </div>

      <!-- {% include docs_contents.html %} -->

      <div class="clear"></div>

    </div>
  </section>