<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.baseurl }}">Home</a>
  </li>
  
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/docs/introduction/">Learn</span></a>
  </li>

   <li class="{% if page.url contains '/reference/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/reference/main/">SPICE-hub</a>
  </li>

   <li class="{% if page.url contains '/instructors/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/instructors/main/">Teach</a>  
  </li>

 <!--  <li class="{% if page.author %}current{% endif %}">
    <a href="/news/">News</a>
  </li>

  <li>
    <a href="{{ site.help_url }}">Help</a>
  </li>
  <li>
    <a href="{{ site.repository }}"><span class="hide-on-mobiles">View on </span>GitHub</a>
  </li> -->

</ul>
